.item {
    display: flex;
    align-items: center;
    font-size: 14px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
      &:hover {
        transform: scale(1.2);
        color: gray;
      }
  }